<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>
    <h1>USERS</h1>

    <ol>
        <li data-th-each="user : ${list}">
            <form action="/users/delete" method="post">
                <span data-th-text="${user.username}"></span>
                <span> - </span>
                <span data-th-text="${user.password}"></span>
                <span> - </span>
                <span data-th-text="${user.id}"></span>
                <input id="id" name="id" hidden data-th-value="${user.id}">
                <button type="submit">X</button>
            </form>
        </li>
    </ol>


    <form action="/users/add" method="post">
        <label>
            username
            <input type="text" id="username" name="username">
        </label>

        <label>
            password
            <input type="text" id="password" name="password">
        </label>

        <button type="submit">Register</button>
    </form>
</body>
</html>